<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tunaroza.gtd.notion</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>359F9980-F061-49E6-BCE6-BE90AAB4726D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B751992-336E-4280-A712-BDAAC5A3D008</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3856F499-EE3A-43C0-9092-AC674E798FE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48D9ADC5-D355-4E48-BCA1-FD3BDA6C775A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48D9ADC5-D355-4E48-BCA1-FD3BDA6C775A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50898DDE-4B8C-4792-B029-C56C94D4FB26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50898DDE-4B8C-4792-B029-C56C94D4FB26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79871859-F0AE-48D8-B711-3B47A03F9B90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B751992-336E-4280-A712-BDAAC5A3D008</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3E52E18-065A-4F43-8C1C-22DC77DB48F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9FE5364B-01D4-475F-919F-7770EBE3B8AA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2DDA6857-EA3A-4251-8CF0-4AB9BDE732DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>724DABF6-9D03-4DC4-A370-74B76B38A7BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD345F4A-0CA7-426A-B381-EFA7AAEB7946</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69B72B6E-B8EB-48C0-B337-863307486596</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD345F4A-0CA7-426A-B381-EFA7AAEB7946</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>359F9980-F061-49E6-BCE6-BE90AAB4726D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4F540FE-0011-4851-A952-634F30721756</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3856F499-EE3A-43C0-9092-AC674E798FE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alejandro Tunaroza</string>
	<key>description</key>
	<string>Alfred workflow to add tasks to my GTD system in Notion</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GTD</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>A3E52E18-065A-4F43-8C1C-22DC77DB48F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>NODE_OPTIONS="--no-deprecation" ./node_modules/.bin/run-node --trace-warnings ./src/router.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AD345F4A-0CA7-426A-B381-EFA7AAEB7946</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>NODE_OPTIONS="--no-deprecation" ./node_modules/.bin/run-node  ./src/list-options.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Start typing the new task</string>
				<key>title</key>
				<string>GTD - Add new task</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>724DABF6-9D03-4DC4-A370-74B76B38A7BB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:result1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>success</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>9FE5364B-01D4-475F-919F-7770EBE3B8AA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6B751992-336E-4280-A712-BDAAC5A3D008</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>result</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>359F9980-F061-49E6-BCE6-BE90AAB4726D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>2DDA6857-EA3A-4251-8CF0-4AB9BDE732DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>69B72B6E-B8EB-48C0-B337-863307486596</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>-1</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string>Set Work Focus mode</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>3856F499-EE3A-43C0-9092-AC674E798FE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>chrome gmail.com --profile-directory=Default</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>50898DDE-4B8C-4792-B029-C56C94D4FB26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>chrome https://github.com/notifications?query=is%3Aunread --profile-directory=Default</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>79871859-F0AE-48D8-B711-3B47A03F9B90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Applications/Calendar.app</string>
					<string>/Applications/Notion.app</string>
					<string>/Applications/Slack.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>48D9ADC5-D355-4E48-BCA1-FD3BDA6C775A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ggs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Start work day</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C4F540FE-0011-4851-A952-634F30721756</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2DDA6857-EA3A-4251-8CF0-4AB9BDE732DF</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>359F9980-F061-49E6-BCE6-BE90AAB4726D</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>3856F499-EE3A-43C0-9092-AC674E798FE8</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>48D9ADC5-D355-4E48-BCA1-FD3BDA6C775A</key>
		<dict>
			<key>note</key>
			<string>Open:
- Calendar
- Notion</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>50898DDE-4B8C-4792-B029-C56C94D4FB26</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Open gmail on Default profile using the Terminal</string>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>69B72B6E-B8EB-48C0-B337-863307486596</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>6B751992-336E-4280-A712-BDAAC5A3D008</key>
		<dict>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>724DABF6-9D03-4DC4-A370-74B76B38A7BB</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>79871859-F0AE-48D8-B711-3B47A03F9B90</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Open Github Notifications on Default profile using the Terminal</string>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>A3E52E18-065A-4F43-8C1C-22DC77DB48F2</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>AD345F4A-0CA7-426A-B381-EFA7AAEB7946</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>C4F540FE-0011-4851-A952-634F30721756</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Database ID</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>To get the ID of the page, locate the 32-character string at the end of the page’s URL. More: To get the ID of the page, locate the 32-character string at the end of the page’s URL. (See more: https://developers.notion.com/docs/create-a-notion-integration#environment-variables)</string>
			<key>label</key>
			<string>Database Id</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>notionDatabaseId</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>notionAccessToken</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>notionAccessToken</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
