<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.tunaroza.gtd.notion</string>
    <key>category</key>
    <string>Productivity</string>
    <key>connections</key>
    <dict>
      <key>0E6B80A1-C72B-4A81-9C3C-3FF8E322153E</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>9E1A62DB-224E-41C4-B8A4-A71F3DBA1CF0</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>359F9980-F061-49E6-BCE6-BE90AAB4726D</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>6B751992-336E-4280-A712-BDAAC5A3D008</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>3856F499-EE3A-43C0-9092-AC674E798FE8</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>E486185B-CAFE-40CB-B894-A7DD7B289B08</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>48D9ADC5-D355-4E48-BCA1-FD3BDA6C775A</key>
      <array/>
      <key>6B751992-336E-4280-A712-BDAAC5A3D008</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>A3E52E18-065A-4F43-8C1C-22DC77DB48F2</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>sourceoutputuid</key>
          <string>9FE5364B-01D4-475F-919F-7770EBE3B8AA</string>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>2DDA6857-EA3A-4251-8CF0-4AB9BDE732DF</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>724DABF6-9D03-4DC4-A370-74B76B38A7BB</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>AD345F4A-0CA7-426A-B381-EFA7AAEB7946</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>69B72B6E-B8EB-48C0-B337-863307486596</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>773793F6-C008-4ACD-8952-93F548238589</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>9E1A62DB-224E-41C4-B8A4-A71F3DBA1CF0</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>9E1A62DB-224E-41C4-B8A4-A71F3DBA1CF0</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>AD345F4A-0CA7-426A-B381-EFA7AAEB7946</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>AD345F4A-0CA7-426A-B381-EFA7AAEB7946</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>359F9980-F061-49E6-BCE6-BE90AAB4726D</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>C4F540FE-0011-4851-A952-634F30721756</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>3856F499-EE3A-43C0-9092-AC674E798FE8</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Alejandro Tunaroza</string>
    <key>description</key>
    <string>Alfred workflow to add tasks to my GTD system in Notion</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>GTD</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>action</key>
          <integer>0</integer>
          <key>argument</key>
          <integer>1</integer>
          <key>focusedappvariable</key>
          <false/>
          <key>focusedappvariablename</key>
          <string/>
          <key>hotkey</key>
          <integer>8</integer>
          <key>hotmod</key>
          <integer>1441792</integer>
          <key>hotstring</key>
          <string>C</string>
          <key>leftcursor</key>
          <false/>
          <key>modsmode</key>
          <integer>0</integer>
          <key>relatedAppsMode</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.trigger.hotkey</string>
        <key>uid</key>
        <string>0E6B80A1-C72B-4A81-9C3C-3FF8E322153E</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string>{query}</string>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>command</key>
            <string>gtdAdd</string>
            <key>openNotion</key>
            <string>false</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>9E1A62DB-224E-41C4-B8A4-A71F3DBA1CF0</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>action</key>
          <integer>0</integer>
          <key>argument</key>
          <integer>2</integer>
          <key>focusedappvariable</key>
          <false/>
          <key>focusedappvariablename</key>
          <string/>
          <key>hotkey</key>
          <integer>5</integer>
          <key>hotmod</key>
          <integer>1441792</integer>
          <key>hotstring</key>
          <string>G</string>
          <key>leftcursor</key>
          <false/>
          <key>modsmode</key>
          <integer>0</integer>
          <key>relatedAppsMode</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.trigger.hotkey</string>
        <key>uid</key>
        <string>773793F6-C008-4ACD-8952-93F548238589</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>soundname</key>
          <string>Blow</string>
          <key>systemsound</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.playsound</string>
        <key>uid</key>
        <string>A3E52E18-065A-4F43-8C1C-22DC77DB48F2</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>NODE_OPTIONS="--no-deprecation" ./node_modules/.bin/run-node --trace-warnings ./src/router.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>5</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>AD345F4A-0CA7-426A-B381-EFA7AAEB7946</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>gg</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <false/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string/>
          <key>script</key>
          <string>NODE_OPTIONS="--no-deprecation" ./node_modules/.bin/run-node  ./src/list-options.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string>Update available: 0.0.1 → 1.0.1. Run `npm install -g alfred-notion-gtd`</string>
          <key>title</key>
          <string>GTD - Add new task</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>724DABF6-9D03-4DC4-A370-74B76B38A7BB</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>conditions</key>
          <array>
            <dict>
              <key>inputstring</key>
              <string>{var:result1}</string>
              <key>matchcasesensitive</key>
              <false/>
              <key>matchmode</key>
              <integer>0</integer>
              <key>matchstring</key>
              <string>success</string>
              <key>outputlabel</key>
              <string/>
              <key>uid</key>
              <string>9FE5364B-01D4-475F-919F-7770EBE3B8AA</string>
            </dict>
          </array>
          <key>elselabel</key>
          <string>else</string>
          <key>hideelse</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.conditional</string>
        <key>uid</key>
        <string>6B751992-336E-4280-A712-BDAAC5A3D008</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>delimiter</key>
          <string>;</string>
          <key>discardemptyarguments</key>
          <false/>
          <key>outputas</key>
          <integer>0</integer>
          <key>trimarguments</key>
          <true/>
          <key>variableprefix</key>
          <string>result</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.split</string>
        <key>uid</key>
        <string>359F9980-F061-49E6-BCE6-BE90AAB4726D</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>soundname</key>
          <string>Basso</string>
          <key>systemsound</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.playsound</string>
        <key>uid</key>
        <string>2DDA6857-EA3A-4251-8CF0-4AB9BDE732DF</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>ignoredynamicplaceholders</key>
          <false/>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>69B72B6E-B8EB-48C0-B337-863307486596</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>ggf</string>
          <key>subtext</key>
          <string>Update available: 0.0.1 → 1.0.1. Run `npm install -g alfred-notion-gtd`</string>
          <key>text</key>
          <string>Start a Reshop coding focus session</string>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>C4F540FE-0011-4851-A952-634F30721756</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>inputmode</key>
          <integer>-1</integer>
          <key>outputmode</key>
          <integer>0</integer>
          <key>shortcut</key>
          <string>Activar work mode</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.automation.runshortcut</string>
        <key>uid</key>
        <string>3856F499-EE3A-43C0-9092-AC674E798FE8</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>code ~/Documents/projects/reshop-mobile

# Open iTerm
osascript -e 'tell application "iTerm" to activate'

# Run the command in iTerm
osascript -e 'tell application "iTerm" to tell current session of current window to write text "'$COMMAND'"'

# Open a new iTerm window
osascript -e 'tell application "iTerm" to activate' -e 'tell application "System Events" to tell process "iTerm" to keystroke "n" using command down'

# Navigate to the directory and run the command
osascript -e '
tell application "iTerm"
    tell current window
        tell current session
            write text "cd ~/Documents/projects/reshop-mobile"
            write text "just start-ios"
        end tell
    end tell
end tell'</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>5</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>E486185B-CAFE-40CB-B894-A7DD7B289B08</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>escaping</key>
          <integer>0</integer>
          <key>script</key>
          <string>chrome https://github.com/notifications?query=is%3Aunread --profile-directory=Default</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.terminalcommand</string>
        <key>uid</key>
        <string>79871859-F0AE-48D8-B711-3B47A03F9B90</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>taskuid</key>
          <string>com.alfredapp.automation.core/macOS/app.running</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.automation.task</string>
        <key>uid</key>
        <string>BD183A86-B673-4786-8887-5601389526E3</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>paths</key>
          <array>
            <string>/Applications/Notion.app</string>
            <string>/Applications/Slack.app</string>
          </array>
          <key>toggle</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.launchfiles</string>
        <key>uid</key>
        <string>48D9ADC5-D355-4E48-BCA1-FD3BDA6C775A</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>0E6B80A1-C72B-4A81-9C3C-3FF8E322153E</key>
      <dict>
        <key>xpos</key>
        <integer>125</integer>
        <key>ypos</key>
        <integer>15</integer>
      </dict>
      <key>2DDA6857-EA3A-4251-8CF0-4AB9BDE732DF</key>
      <dict>
        <key>xpos</key>
        <integer>855</integer>
        <key>ypos</key>
        <integer>360</integer>
      </dict>
      <key>359F9980-F061-49E6-BCE6-BE90AAB4726D</key>
      <dict>
        <key>xpos</key>
        <integer>620</integer>
        <key>ypos</key>
        <integer>285</integer>
      </dict>
      <key>3856F499-EE3A-43C0-9092-AC674E798FE8</key>
      <dict>
        <key>xpos</key>
        <integer>450</integer>
        <key>ypos</key>
        <integer>550</integer>
      </dict>
      <key>48D9ADC5-D355-4E48-BCA1-FD3BDA6C775A</key>
      <dict>
        <key>note</key>
        <string>Open:
- Calendar
- Notion</string>
        <key>xpos</key>
        <integer>890</integer>
        <key>ypos</key>
        <integer>810</integer>
      </dict>
      <key>69B72B6E-B8EB-48C0-B337-863307486596</key>
      <dict>
        <key>xpos</key>
        <integer>450</integer>
        <key>ypos</key>
        <integer>370</integer>
      </dict>
      <key>6B751992-336E-4280-A712-BDAAC5A3D008</key>
      <dict>
        <key>xpos</key>
        <integer>725</integer>
        <key>ypos</key>
        <integer>275</integer>
      </dict>
      <key>724DABF6-9D03-4DC4-A370-74B76B38A7BB</key>
      <dict>
        <key>xpos</key>
        <integer>225</integer>
        <key>ypos</key>
        <integer>255</integer>
      </dict>
      <key>773793F6-C008-4ACD-8952-93F548238589</key>
      <dict>
        <key>xpos</key>
        <integer>125</integer>
        <key>ypos</key>
        <integer>135</integer>
      </dict>
      <key>79871859-F0AE-48D8-B711-3B47A03F9B90</key>
      <dict>
        <key>colorindex</key>
        <integer>2</integer>
        <key>note</key>
        <string>Open Github Notifications on Default profile using the Terminal</string>
        <key>xpos</key>
        <integer>875</integer>
        <key>ypos</key>
        <integer>555</integer>
      </dict>
      <key>9E1A62DB-224E-41C4-B8A4-A71F3DBA1CF0</key>
      <dict>
        <key>xpos</key>
        <integer>320</integer>
        <key>ypos</key>
        <integer>100</integer>
      </dict>
      <key>A3E52E18-065A-4F43-8C1C-22DC77DB48F2</key>
      <dict>
        <key>xpos</key>
        <integer>850</integer>
        <key>ypos</key>
        <integer>240</integer>
      </dict>
      <key>AD345F4A-0CA7-426A-B381-EFA7AAEB7946</key>
      <dict>
        <key>xpos</key>
        <integer>445</integer>
        <key>ypos</key>
        <integer>255</integer>
      </dict>
      <key>BD183A86-B673-4786-8887-5601389526E3</key>
      <dict>
        <key>xpos</key>
        <integer>685</integer>
        <key>ypos</key>
        <integer>705</integer>
      </dict>
      <key>C4F540FE-0011-4851-A952-634F30721756</key>
      <dict>
        <key>xpos</key>
        <integer>225</integer>
        <key>ypos</key>
        <integer>545</integer>
      </dict>
      <key>E486185B-CAFE-40CB-B894-A7DD7B289B08</key>
      <dict>
        <key>xpos</key>
        <integer>655</integer>
        <key>ypos</key>
        <integer>550</integer>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string/>
          <key>placeholder</key>
          <string>Database Id</string>
          <key>required</key>
          <false/>
          <key>trim</key>
          <true/>
        </dict>
        <key>description</key>
        <string>To get the ID of the page, locate the 32-character string at the end of the page’s URL. More: To get the ID of the page, locate the 32-character string at the end of the page’s URL. (See more: https://developers.notion.com/docs/create-a-notion-integration#environment-variables)</string>
        <key>label</key>
        <string>Database Id</string>
        <key>type</key>
        <string>textfield</string>
        <key>variable</key>
        <string>notionDatabaseId</string>
      </dict>
    </array>
    <key>variables</key>
    <dict>
      <key>notionAccessToken</key>
      <string/>
    </dict>
    <key>variablesdontexport</key>
    <array>
      <string>notionAccessToken</string>
    </array>
    <key>version</key>
    <string/>
    <key>webaddress</key>
    <string/>
  </dict>
</plist>